<!DOCTYPE html>
<html>
  <!-- HEADER -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- app title -->
		<title>Ikena - Chat app</title>
    <!-- app logo -->
		<link rel="icon" type="image/png" href="assets/logo.png" />
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
  </head>

  <!-- BODY -->
  <body>
    <div class="container"></div>

    <div class="form">
      <form>
        <div class="placeholder">
          <label>Hello <b class="username"></b>. Say something:</label>
        </div>
        <input class="input-message" type="text" placeholder="Enter message">
        <button type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
